# application-secret.yml.example
# 이 파일을 복사해서 application-secret.yml 로 이름 변경 후 실제 값을 채워 넣으세요.
# application-secret.yml 은 절대 git 에 커밋하지 마세요!

gemini:
  api:
    key: "your-gemini-api-key-here"

spring:
  datasource:
    username: your-db-username
    password: your-db-password

  mail:
    password: "your-gmail-app-password"

jwt:
  secret: "your-jwt-secret-min-32-characters-long"

